{
  "root": false,
  "plugins": [],
  "parserOptions": {
    "ecmaVersion": 13,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@sap/cds/recommended"
  ],
  "env": {
    "node": true,
    "es6": true,
    "jest": true,
    "commonjs": true,
    "browser": true
  },
  "rules": {
    "semi": [
      2
    ],
    "no-extra-semi": [
      0
    ],
    "no-var": [
      2
    ]
  }
}